/* --- BOTTONE --- */ 

@import "colori";

.btn-blue{
    background-color: map-get($set-colori-bottoni, blu);
    color: white;
    padding: 3%;
    border-radius: 6px;
    border: none;
    margin-right: 2%;
}

.btn-arancio{
    background-color: map-get($set-colori-bottoni, arancione);
    color: white;
    padding: 3%;
    border-radius: 6px;
    border: none;
    margin-right: 2%;
}

.btn-verde{
    background-color: map-get($set-colori-bottoni, verde);
    color: white;
    padding: 3%;
    border-radius: 6px;
    border: none;
    margin-right: 2%;
}